<div class="content content-rest">

  <header>
    <div class="progress-bar">
      <div style="width:{{100 * (step / total)}}%"></div>
    </div>
    <span class="pull-right exit" ng-click="exit()"><i class="icon-remove"></i></span>
  </header>

  <div class="content-title">
    <h1>
      <strong>{{rest.name | firstWord}}</strong> {{rest.name | followingWords}}
    </h1>
  </div>

  <div class="timer">
    <span>{{timer}}</span>
  </div>

  <div class="workout-next">
    <h1>
      <span>Next... {{workout.name}}!</span>
    </h1>
  </div>

  <footer>
    <button type="button" class="button pull-left" ng-click="pause()" ng-bind-html-unsafe="pauseText()"></button>
    <i class="icon-pause" ng-show="paused"></i>
    <button type="button" class="button pull-right" ng-click="skip()">Skip</button>
    <div class="progress-bar">
      <div style="width:{{100 * (1 - timer / duration)}}%"></div>
    </div>
  </footer>

</div>
