.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
body {
  padding: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
button,
select,
textarea,
input,
pre {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.bs-docs-social {
  background: rgba(245, 245, 245, 0.15);
  border-top: 1px solid rgba(245, 245, 245, 0.25);
  border-bottom: 1px solid rgba(221, 221, 221, 0.25);
}
.bs-docs-social ul.bs-docs-social-buttons li {
  padding: 5px 0px;
}
.authors-social-buttons {
  vertical-align: middle;
  display: inline-block;
  margin: 4px 0 0 4px;
}
/* Github-Ribbon
-------------------------------------------------- */
.github-ribbon {
  background-color: #121621;
  position: absolute;
  top: 3.2em;
  right: -3.7em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: 0 0 0 1px #1d212e inset,0 0 2px 1px #fff inset,0 0 1em #888;
  -moz-box-shadow: 0 0 0 1px #1d212e inset,0 0 2px 1px #fff inset,0 0 1em #888;
  -ms-box-shadow: 0 0 0 1px #1d212e inset,0 0 2px 1px #fff inset,0 0 1em #888;
  -o-box-shadow: 0 0 0 1px #1d212e inset,0 0 2px 1px #fff inset,0 0 1em #888;
  box-shadow: 0 0 0 1px #1d212e inset,0 0 2px 1px #fff inset,0 0 1em #888;
  color: rgba(255, 255, 255, 0.9);
  display: block;
  padding: .6em 3.5em;
  font: bold 0.82em sans-serif;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px -1px 8px rgba(0, 0, 0, 0.6);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.github-ribbon {
  z-index: 2;
}
/* Docs Customization
-------------------------------------------------- */
.page-header h1 > small > a {
  color: #999;
}
.page-header h1 > small > a:hover {
  text-decoration: none;
}
.footer {
  margin: 0px;
}
/* AngularJS Forms Validation
-------------------------------------------------- */
input.ng-invalid,
textarea.ng-invalid,
select.ng-invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
input.ng-invalid:focus,
textarea.ng-invalid:focus,
select.ng-invalid:focus {
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
  border-color: #e9322d;
}
/* Popover
-------------------------------------------------- */
/* Jumbotrons
-------------------------------------------------- */
/* Base class
------------------------- */
.jumbotron {
  /*@media (max-width: 980px) {
    margin-top: 50px;
  }*/

  height: 1000px;
  overflow: hidden;
  position: relative;
  padding: 60px 0 40px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
  background: #f7f7f7 url("./../images/paris_blur.jpg");
  background-size: cover;
  background-position: 50% 30%;
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
}
@media (max-width: 979px) {
  .jumbotron {
    background-position: 50% 20%;
  }
}
.jumbotron:after {
  opacity: .15;
  background: none;
}
.container .iphone {
  margin: 2em auto;
  position: relative;
  width: 375px;
  height: 806px;
  background: transparent url("./../images/iphone.png");
  -webkit-animation: -webkit-transform 500ms linear;
  -webkit-transform: rotate(90deg);
}
@media (max-width: 980px) {
  .container .iphone {
    -webkit-transform: rotate(0deg);
  }
}
.container .iphone .iphone-inner {
  position: absolute;
  top: 147px;
  left: 27px;
  width: 550px;
  height: 320px;
  background: transparent;
}
@media (max-width: 980px) {
  .container .iphone .iphone-inner {
    width: 320px;
    height: 550px;
  }
}
.container .iphone .iphone-inner .iframe {
  position: absolute;
  top: 115px;
  left: -115px;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-90deg);
}
@media (max-width: 980px) {
  .container .iphone .iphone-inner .iframe {
    -webkit-transform: rotate(0deg);
    top: 0px;
    left: 0px;
  }
}
